body{
  background-color: grey;
}
.App {
  text-align: center;
  background-color: grey;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.searchInput{
  margin-top: 20px;
  padding-top: 20px;
  background-color: #5f7277;
  color:white;
}

.App-link {
  color: #61dafb;
}

#search{
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
